/* Reset CSS from YUI */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/* Customization */
.div-clear {
	clear: both;
}

.div-hide {
	display: none;
}

.maxdoc {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.btn-control {
	font-family: Verdana, Arial, Tahoma, Helvetica, Geneva;
	font-size: 13px;
	cursor: pointer;
}

.btn-control:hover {
	color: blue;
}

.btn-control img {
	vertical-align: middle;
	border: 0;
}

a {
	text-decoration: none;
}

/* navigation */
.topNav {
	float: right;
}
.topNav .formLinks {
	margin-right: 50px;
}
.topNav .formLinks ul {
	margin:0;
	padding:0;
	list-style:none;
}
.topNav .formLinks li {
	margin:0;
	padding:0;
	float: left;
	margin-right: 10px;
}
.topNav .formLinks a.link-item {
	color: #dddddd;
	display: table-cell;
	vertical-align: middle;
	width: 119px;
	height: 41px;
	text-align:center;
	font-family: Arial;
	font-size: 18x;
	font-weight: bold;
	text-decoration: none;
	background-color: #23435F;
	background-image: url('../img/plweb_topnav_bg.png');
}
.topNav .formLinks a.link-item:hover {
	color: #ffffff;
	background-color: #3F617F;
	background-image: url('../img/plweb_topnav_bg_hover.png');
}
.topNav .topLinks {
	font-size: 11px;
	color: #bbbbbb;
	text-align: right;
	padding: 10px;
	margin-right: 10px;
}
.topNav .topLinks a {
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #cccccc;
}
.topNav .topLinks a:hover {
	color: #ffffff;
}

/* theme */


body.theme {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	background-image: url('../img/plweb_background.png');
	background-repeat: repeat-x;
}

.theme .page-wrapper {
	width: 900px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.theme .header {
	height: 120px;
}

.theme .plweb-logo {
	margin-top: 20px;
	margin-left: 10px;
}

.theme .content-wrapper {
	background-color: #ffffff;
	border: 1px solid #aaaaaa;

	-moz-border-radius: 10px;
	border-radius: 10px;
    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.5) inset;
    behavior: url("/css/ie-css3.htc");
}

.theme .content-top {
}

.theme .content {
	background-color: #ffffff;
	margin: 5px;
}

.theme .content-bottom {
	height: 18px;
}

.theme .font-bold {
	font-weight: bold;
}

.theme .font-widget {
	font-family: Segoe UI, Arial, sans-serif; font-size: 1.1em;
}

.theme .font-field {
	font-family: Arial, Helvetica, sans-serif;
}

.theme .font-numeric {
	font-family: Georgia, Arial, sans-serif;
}

.theme .input-text {
    background-image: url("../img/form_input_bg.png");
    background-repeat: repeat-x;
    border: 1px solid #aaaaaa;
}
.theme .input-text:focus {
    background-color: #ffffee;
}

.theme .input-text.error {
}

/* Message (Display) */

.theme div.message {
    padding: .5em;
    margin: 15px;
    color: #555;
    border: 1px solid #dadada;
    background-color: #ffffdd;
}

.theme .fancy-button-01 {
    background: url("../img/fancy-button-01.png") no-repeat scroll center top #6B9E1B;
    border: 1px solid #3A550F;
	-moz-border-radius: 3px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.5) inset;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    text-shadow: 0 0 0, 0 1px 1px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    behavior: url("/css/ie-css3.htc");
}

.theme .fancy-button-02 {
    background: url("../img/fancy-button-02.png") no-repeat scroll center top #cacaca;
    border: 1px solid #3A550F;
	-moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.5) inset;  	
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.5) inset;  	
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    text-shadow: 0 0 0, 0 1px 1px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    behavior: url("/css/ie-css3.htc");
}

.theme .fancy-button-01:hover, .theme .fancy-button-02:hover {
	background-position: center bottom;
}

.theme .fancy-button-01 img, .theme .fancy-button-02 img {
	vertical-align: middle;
	border: 0;
}

/* page style */
.theme h1 {
	font-size: 2em;
	line-height: 2em;
}

.theme h2 {
	font-size: 1.5em;
	line-height: 1.8em;
}

.theme th {
	font-weight: bold;
}